<!DOCTYPE html>
<html>
  <head>
    <title>Portal Solar - Dev Test</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div class="header">
    <%= link_to root_path do %>
      <div class="logo"><%= image_tag 'ps_logo.png', alt: 'logo-img' %></div>
    <% end %>
    <div class="header__title">Geradores de Energia</div>
  </div>
    <%= yield %>
  </body>
</html>
